header {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #eeeeee;
    font-family: Tahoma;
    top: 0;
    left: 0;
    width: 100%;
}

.choice {
    color: white;
    font-weight: bold;
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: center;
}

.choice input[type='submit'] {
    background-color: #f1f1f1;
    z-index: 1;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

#nowPlay {
    z-index: 2;
    width: 900px;
    height: 506px;
}

#titlePicture {
    display: grid;
    position: relative;
}

#titlePicture img {
    width: 336px;
    height: 188px;
    position: relative;
    display: inherit;
    margin: 10px;
}

#titlePicture img:hover {
    opacity: 50%;
}

#titlePicture div {
    margin: 10px;
    position: absolute;
    font-family: Tahoma;
    font-size: 30px;
    width: 336px;
    height: 188px;
    text-align: center;
    border: 0.1px dashed #f69c55;
    display: inherit;
}

#titlePicture div p{

    vertical-align: middle;
    line-height: normal;
}

.player {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: Tahoma;
    text-align: center;
}