header {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #eeeeee;
    font-family: Tahoma;
    top: 0;
    left: 0;
    width: 100%;
}

.choice {
    color: white;
    font-weight: bold;
    display: flex;
    position: relative;
    z-index: 1;
    animation-name: visibility;
    opacity: 0%;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    /*animation-delay: 90s;*/
    justify-content: center;
}

.choice input[type='submit'] {
    background-color: #f1f1f1;
    z-index: 1;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

@keyframes visibility {
    0% {opacity: 0%;}
    100% {opacity: 100% ;}
}

#nowPlay {
    z-index: 2;
    width: 900px;
    aspect-ratio: 16 / 9;
}

.player {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: tahoma;
    text-align: center;
}