header {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #3f3e3e;
    color: #f1f1f1;
    font-family: Arial;
    margin: 0px, 500px, 10px, 50px;
}

body {
    background-color: rgb(34, 33, 33);
}

.choice {
    color: white;
    font-weight: bold;
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: center;
}

@keyframes visibility {
    0% {
        opacity: 0%;;
      }
      100% {
        opacity: 100%;;
      }
    }

.choice input[type='submit'] {
    background-color: #f1f1f1;
    z-index: 1;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    opacity: 0%;
    animation: 5s ease-out 90s 1 visibility;
    animation-fill-mode: forwards;
}
/*
.choice input[type='submit']:hover {
    transform: scale(1.2, 1.2);
    background-color: aqua;
    z-index: 2;
}
*/

#nowPlay {
    z-index: 2;
    width: 900px;
    height: 506px;
}

#changeTitle {
    display: flex;
}

#changeTitle .season {
    width: auto;
    height: auto;
    margin: 10px;
}

#changeTitle .season .episode{
    height: 188px;
    line-height: 188px;
    width: 336px;
    margin: 10px;
}

#changeTitle .season .episode > * {
    vertical-align: middle;
}

#changeTitle .season .episode img{
    width: 336px;
    height: 188px;
}

#changeTitle .season .episode p{
    color: #f1f1f1;
    font-family: Arial;
    font-size: 30px;
    z-index: -1;
    position: absolute;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    margin: 0% 0%;
}

#changeTitle .season .episode img:hover {
    opacity: 40%;
}

.player {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

h1, h2{
    font-family: Arial;
    text-align: center;
    color: #f1f1f1;
}