h1 {
    font-size: 28px;
    text-transform: uppercase;
}

#position {
    font-size: 18px;
    font-weight: 700;
}

.summary {
    font-size: 16px;
    line-height: 20px;
}

.summary img {
    float: right;
    transition: transform 1s ease;
}

.summary img:hover {
    transform: scale(1.3);
}

h2 {
    color: #2F5A78;
    font-size: 20px;
    border-bottom: 1px solid #2F5A78;
    padding-bottom: 2px;
}

body {
    font-family: Tahoma;
    margin-top: 100px;
}

header {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #eeeeee;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#copyright {
    text-align: center;
}

section {
    padding: 2px 10px;
}

footer {
    padding: 2px 10px;
    background-color: #eeeeee;
}

footer a {
    color: #e99f4b;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

ul {
    margin: 0px;
}

li b {
    color: #2F5A78;
}

li {
    margin-bottom: 5px;
}

th {
    background-color: #2F5A78;
    color: #FFFFFF;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #000000;
    padding: 5px;
}

input[type='text'], input[type='email'] {
    border: 1px solid #2F5A78;
    width: 150px;
    padding: 5px;
    margin-bottom: 5px;
}

textarea {
    border: 1px solid #2F5A78;
    width: 203px;
    padding: 5px;
    margin-bottom: 5px;
}

label {
    color: #2F5A78;
    font-weight: bold;
}

input[type='submit'] {
    background-color: #2F5A78;
    width: 75px;
    height: 30px;
    border: none;
    color: white;
    font-weight: bold;
    margin: 7px;
    transition: transform 0.5s;
}

input[type='submit']:hover {
    transform: scale(1.3, 1.3);
}

