h1 {
    font-size: 28px;
    text-transform: uppercase;
}

#position {
    font-size: 18px;
    font-weight: 700;
}

.summary {
    font-size: 16px;
    line-height: 20px;
}

h2 {
    color: #2F5A78;
    font-size: 20px;
}

body {
  font-family: Tahoma;
}

header {
    text-align: center;
}

#copyright {
    text-align: center;
}

section, footer {
    padding: 2px 10px;
}

ul {
    margin: 0px;
}