h1 {
    font-size: 28px;
    text-transform: uppercase;
}

#position {
    font-size: 18px;
    font-weight: 700;
}

.summary {
    font-size: 16px;
    line-height: 20px;
}

h2 {
    color: #2F5A78;
    font-size: 20px;
    border-bottom: 1px solid #2F5A78;
    padding-bottom: 2px;
}

body {
  font-family: Tahoma;
}

header {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #eeeeee;
}

#copyright {
    text-align: center;
}

section {
    padding: 2px 10px;
}

footer {
    padding: 2px 10px;
    background-color: #eeeeee;
}

footer a {
    color: #e99f4b;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

ul {
    margin: 0px;
}

li b {
    color: #2F5A78;
}

li {
    margin-bottom: 5px;
}

th {
    background-color: #2F5A78;
    color: #FFFFFF;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #000000;
    padding: 5px;
}